<div class="px-3 text-center">
    <a routerLink="/" class="text-light text-decoration-none p-5 p-md-0">
        <h1 class="m-0"><i class="fa-solid fa-film fa-sm navbar-brand"></i> APOLLO</h1>
        <p class="text-small">PANEL ADMINISTRATORA</p>
    </a>
</div>

<nav class="list-group list-group-flush px-3 pb-3">
    <a routerLink="/admin" routerLinkActive="active" class="btn btn-primary apl-button text-light mb-2">
    Strona główna
    </a>
    <a routerLink="/admin/movies" routerLinkActive="active" class="btn btn-primary apl-button text-light mb-2">
    Filmy
    </a>
    <a routerLink="/admin/schedules" routerLinkActive="active"
    class="btn btn-primary apl-button text-light mb-2">
    Seanse
    </a>
    <a routerLink="/admin/users" routerLinkActive="active" class="btn btn-primary apl-button text-light mb-2">
    Użytkownicy
    </a>
    <a routerLink="/admin/slides" routerLinkActive="active" class="btn btn-primary apl-button text-light mb-2">
    Slider
    </a>
    <a routerLink="/admin/news" routerLinkActive="active" class="btn btn-primary apl-button text-light mb-2">
    Newsy
    </a>
    <a routerLink="/" routerLinkActive="active" class="btn btn-primary apl-button text-light mb-2">
    Wróć do kina
    </a>
</nav>