<app-header></app-header>

<app-slider></app-slider>

<div class="third-container">
  <div class="container  text-dark">
    <div class="text-left py-5 bar-border"><h2 class="red-border-bar">POLECANE</h2></div>
    <div class="row">
      <div class="col-md-2" *ngFor="let movie of recommendedMovies">
        <div class="card film-card text-light" routerLink="movie/{{ movie.id }}">
          <img [src]="toAbs(movie.image)" class="card-img-top" alt="{{ movie.title }}">
          <div class="card-body">
            <h3 class="card-title">{{ movie.title }}</h3>
          </div>
        </div>
      </div>
      <div class="col-md-2" routerLink="recommended">
          <div class="card film-card text-light">
            <div class="card-body">
              <i class="fa-solid fa-angles-right fa-2xl"></i><br>
              <h2 class="card-title">POKAŻ WIĘCEJ</h2>
            </div>
          </div>
        </div>
    </div>
  </div>

  <div class="container mt-5 text-dark">
      <div class="text-left py-5 bar-border"><h2 class="red-border-bar">NOWOŚCI</h2></div>
      <div *ngIf="newsError" class="alert alert-danger">{{ newsError }}</div>
      <div class="row" *ngIf="!newsError">
          <div class="col-md-4" *ngFor="let news of newsList">
          <div class="card news-card text-light" [routerLink]="['/news', news.id]">
             <div class="card-body">
              <h3 class="card-title">{{ news.title }}</h3>
              <p class="card-text">{{ (news.content || '') | slice:0:140 }}<ng-container *ngIf="news.content && news.content.length > 140">...</ng-container>
                  <br><br>
                  Kliknij, aby dowiedzieć się więcej!</p>
              </div>
          </div>
          </div>
      </div>
      <br>
      <button class="btn btn-primary" routerLink="news">POKAŻ WIĘCEJ</button>
  </div>


  <div class="container mt-5 mb-5 text-dark">
    <div class="text-left py-5 bar-border"><h2 class="red-border-bar">ZAPOWIEDZI</h2></div>
    <div *ngIf="announcementsError" class="alert alert-danger">{{ announcementsError }}</div>
    <div class="row" *ngIf="!announcementsError">
      <div class="col-md-2" *ngFor="let movie of upcomingMovies">
        <div class="card film-card2 text-light" routerLink="movie/{{ movie.id }}">
          <img [src]="toAbs(movie.image)" class="card-img-top" alt="{{ movie.title }}">
          <div class="card-body">
            <h3 class="card-title">{{ movie.title }}</h3>
            <small class="mb-1"  *ngIf="movie.premiere_date">Premiera: {{ movie.premiere_date }}</small>
            <p class="card-text text-truncate-3-lines" style="font-size: 0.8rem;">{{ movie.description | slice:0:120 }}<ng-container *ngIf="movie.description && movie.description.length > 120">...</ng-container></p>
          </div>
        </div>
      </div>
      <div class="col-md-2" routerLink="announcements">
          <div class="card film-card2 text-light">
            <div class="card-body">
              <i class="fa-solid fa-angles-right fa-2xl"></i><br>
              <h3 class="card-title">POKAŻ WIĘCEJ</h3>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<app-footer></app-footer>