<div class="card-body p-2">
    <form [formGroup]="passwordForm" (ngSubmit)="onPasswordSubmit()">
        <div *ngIf="passwordErrorMessage" id="passwordErrorMessage" class="text-danger mb-3">
            {{ passwordErrorMessage }}
        </div>
        <div *ngIf="passwordSuccessMessage" id="passwordSuccessMessage" class="text-success mb-3">
            {{ passwordSuccessMessage }}
        </div>
        <div class="mb-3">
            <label class="form-label">Stare hasło</label>
            <input type="password" class="form-control" formControlName="old_password" />
            <div *ngIf="passwordForm.get('old_password')?.invalid && passwordForm.get('old_password')?.touched" class="text-danger">
                Podaj stare hasło.
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Nowe hasło</label>
            <input type="password" class="form-control" formControlName="new_password" />
            <div *ngIf="passwordForm.get('new_password')?.invalid && passwordForm.get('new_password')?.touched" class="text-danger">
                <ng-container *ngIf="passwordForm.get('new_password')?.errors?.['required']">
                    Podaj nowe hasło.
                </ng-container>
                <ng-container *ngIf="passwordForm.get('new_password')?.errors?.['minlength']">
                    Hasło musi mieć co najmniej 8 znaków.
                </ng-container>
                <ng-container *ngIf="passwordForm.get('new_password')?.errors?.['pattern']">
                    Hasło musi zawierać cyfrę i znak specjalny.
                </ng-container>
            </div>
            <div *ngIf="passwordForm.errors?.['passwordsSame'] && passwordForm.get('new_password')?.touched" class="text-danger">
                Nowe hasło nie może być takie samo jak stare.
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Potwierdź nowe hasło</label>
            <input type="password" class="form-control" formControlName="confirm_password" />
            <div *ngIf="passwordForm.get('confirm_password')?.invalid && passwordForm.get('confirm_password')?.touched" class="text-danger">
                Potwierdzenie hasła jest wymagane.
            </div>
            <div *ngIf="passwordForm.errors?.['passwordsMismatch'] && passwordForm.get('confirm_password')?.touched" class="text-danger">
                Hasła muszą być takie same.
            </div>
        </div>
        <div class="d-flex justify-content-between flex-column">
            <button class="btn btn-primary apl-button" type="submit" [disabled]="passwordForm.invalid">Zmień hasło</button>
        </div>
    </form>
</div>