<div id="movieSlider" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://img.helios.pl/obrazy/1110x440w/film/oszukac-przeznaczenie-wiezy-krwi/oszukac-przeznaczenie-wiezy-krwi-duzy-obraz-22537.jpg" class="d-block w-100" alt="Movie 1">
        <div class="carousel-caption d-none d-md-block">
          <h5>Movie 1</h5>
          <p>Description of Movie 1.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://img.helios.pl/obrazy/1110x440w/film/hurry-up-tomorrow/hurry-up-tomorrow-duzy-obraz-92537.jpg" class="d-block w-100" alt="Movie 2">
        <div class="carousel-caption d-none d-md-block">
          <h5>Movie 2</h5>
          <p>Description of Movie 2.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://img.helios.pl/obrazy/1110x440w/film/hurry-up-tomorrow/hurry-up-tomorrow-duzy-obraz-92537.jpg" class="d-block w-100" alt="Movie 3">
        <div class="carousel-caption d-none d-md-block">
          <h5>Movie 3</h5>
          <p>Description of Movie 3.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#movieSlider" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#movieSlider" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>

