<app-header></app-header>
<div class="third-container">
  <div class="container mt-5 text-light">
    <div class="text-left py-5 bar-border"><h2 class="red-border-bar">WSZYSTKIE ZAPOWIEDZI</h2></div>
    <div class="row">
      <div class="col-md-12" *ngFor="let news of newsList">
        <div class="card announcements-card mb-4 d-flex flex-row">
          <img [src]="getImage(news)" class="announcements-card-img pointer" [alt]="getTitle(news)"  routerLink="/movie/{{ getMovieId(news) }}">
          <div class="announcements-card-body flex-grow-1">
            <h3 class="announcements-card-title pointer"  routerLink="/movie/{{ getMovieId(news) }}">{{ getTitle(news) }}</h3>
            <p class="announcements-card-text">{{ getDescription(news) }}</p>
            <p class="announcements-card-date">Obsada: {{ getCast(news) }}</p>
            <p class="announcements-card-date">Data premiery: {{ getPremiere(news) }}</p>
            <p class="announcements-card-date">Czas trwania: {{ getDuration(news) }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>