<app-header></app-header>
<div class="third-container">
  <div class="container mt-5 text-light">
    <div class="text-left py-5 bar-border"><h2 class="red-border-bar">WSZYSTKIE ZAPOWIEDZI</h2></div>
    <div class="row">
      <div class="col-md-12" *ngFor="let news of newsList">
        <div class="card announcements-card mb-4 d-flex flex-row">
          <img src="{{ news.image }}" class="announcements-card-img pointer" alt="{{ news.title }}"  routerLink="/movie/{{ news.id }}">
          <div class="announcements-card-body flex-grow-1">
            <h3 class="announcements-card-title pointer"  routerLink="/movie/{{ news.id }}">{{ news.title }}</h3>
            <p class="announcements-card-text">{{ news.content }}</p>
            <p class="announcements-card-date">Obsada: {{ news.cast }}</p>
            <p class="announcements-card-date">Data premiery: {{ news.date }}</p>
            <p class="announcements-card-date">Czas trwania: {{ news.time }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>